.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  font-family: "Raleway";
  margin: 0;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
 
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/*  Search bar */

/* Current weather */

div {
  border: 0px solid white;
}
#app_main{
  height: 61%;
  margin:0;
  background-color:cadetblue;
  

}

#app_header{
  padding-bottom: 2% ;
  padding-top: 2%;
  background-color:#759EDA;
    
    display: flex;
    width: 100%;
   justify-content: flex-start;
  }

  .box{
    margin: 5px;
   padding: 0.7%;
   background-color:#759EDA;
   border-top:none;
   border-right: none;
  border-left: none;
  font-size: 20px;
  }
  .box:focus {
    outline: none;
  }
  

  .box1{
    background-color: #5879C7;
  }

#Items{
  background-color: cadetblue;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 0.5%;
}

.imgs p{
  text-align: center;
  font-size: large;
}

#description{color: blue; font-size: 50px; color: white;}
#hum{color: blue; font-size: 24px;}
#temp{color: blue; font-size: 24px;}